<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
	{%mf head%}
	<title>{% block title %} {{ blog.title|escape}}{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /><![endif]-->
		<link rel="shortcut icon" href="/static/images/favicon.ico" />
		<link rel="stylesheet" type="text/css" media="all" href="/themes/{{ blog.theme_name }}/style.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<!-- html5 for ie -->
		<!--[if IE]><script type="text/javascript" src="/themes/{{ blog.theme_name }}/html5.js"></script><![endif]--> 
		{% block head_block %}{% endblock %}
	{%endmf%}
	</head>
	<body>
	<div id ="section">
		<div id="wrapper">
			<header>
			<div id = "header">
				<div class="hgroup">
					<h1><a href="/">{{ blog.title|escape}}</a></h1>
					<div class="description">{{ blog.subtitle|escape}}</div>
				</div>   <!--  -->
				<div id = "nav">
					<menu id="menus">
					  {%if ishome%}
					  <li class="current_page_item"><a href="/">Home</a></li>
					  {{self.m_list_pages}}
					  {%else%}
					  <li class="page_item"><a href="/" title="Click Back to Home">Home</a>
					  {{self.m_list_pages}}
					  </li>
					  {%endif%}
					</menu>
					<a class="feedrss" href="{{ blog.feedurl }}" title="RSS 订阅">RSS 订阅</a>
				</div>
				<ul class = "popadmin"><li><a href = "/admin">管理</a></li></ul>
				</div>
			</header>
				<!-- menu END -->
			<hr>
			{% block content %}{% endblock %}
			<div id ="footer">
			<a id="top" href="#top" title="Back to top.">Top</a>
				<p>&copy;2012 <a href="/">{{ blog.title|escape}}</a>&nbsp;,&nbsp;Powered by&nbsp;<a href="http://appengine.google.com/">Google App Engine</a>&nbsp;.<br />
				<a href="http://xuui.net/wordpress/istudio-theme-release.html">{{ blog.theme_name }}</a>&nbsp;Designed by&nbsp;<a href="http://xuui.net/">Xu.hel</a>&nbsp;,&nbsp;由&nbsp;<a href = "http://www.q86.net/">Angel</a>&nbsp;移植到&nbsp;<a href = "http://micolog.appspot.com/">Micolog&nbsp;{{blog.version}}</a>.
				</p>
				</p>
			</div>
		</div>
	<hr />
	<script type="text/javascript" src="/static/js/scrolltopcontrol.js"></script>
	</body>
</html>