{% extends "base.html" %}
{% block title %} {{category.name}} - {{blog.title}} {% endblock %}
{% block content %}

<div id = "section">
	<div id="content">

	<div id = "RandomShow">
	<script language="JavaScript" type="text/javascript">
tips = new Array(3);
tips[0] = '<img alt="" width="860" height="120" src="/themes/{{ blog.theme_name }}/images/stushow1.jpg" border="0" />';
tips[1] = '<img alt="" width="860" height="120" src="/themes/{{ blog.theme_name }}/images/stushow2.jpg" border="0" />';
tips[2] = '<img alt="" width="860" height="120" src="/themes/{{ blog.theme_name }}/images/stushow3.jpg" border="0" />';

index = Math.floor(Math.random() * tips.length);
document.write(tips[index]);
</script>
	</div>
		<div class="postlist">
			<div id = "section">
			<div class = "archive">
			<span class = "title">
			<h3>关于分类&#8216;{{category.name}}&#8217; 的所有文章</h3>
			</span>
			</div>
			{% if entries %}
			{% for entry in entries %}
			<div id = "article">
			<div id="post-{{entry.key}}">
				<div class="title">
				 <h3>{{ entry.date|datetz:"F jS, Y " }}</h3>
					<h2>
						<a href="/{{ entry.link|escape }}" rel="bookmark" title="永久链接到 {{entry.title|escape}}">{{entry.title|escape}}
						</a>
					</h2>
					<small>
					<a href="/{{entry.link|escape}}#comments">{{entry.commentcount}} 条评论</a>, {%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%}
					,<a href="/{{entry.link|escape}}"> {{entry.readtimes}} 次阅读</a>.{%if self.is_admin%}<a href="{{entry.edit_url}}">编辑</a> | {%endif%}
					</small>
				</div>
				{% if entry.tags%}
				<p class="postmeta">
					标签：{%for tag in entry.tags%}
					<a href="/tag/{{tag|urlencode}}">{{tag}}</a>&nbsp;{%endfor%}
				</p>
				{%endif%}
			</div> </div>
			{% endfor %}
		</div>
		<div id = "nav">
			<div class="navigation">
					<span class="pages">{{pageindex}}</span>
					{% if pager.prev %}<a href="?page={{ pager.prev}}" >&laquo;上一页</a>{% endif %}
					{% if pager.next %}<a href="?page={{ pager.next }}" >下一页&raquo;</a>{% endif %}
			</div>
			    <div class="clear"></div> 
		</div>
		{% else %}
		<div id = "article">
			<div class="title">
				<h2>Not Found</h2>
			</div>
			<div class="entry">
				<p>很抱歉，你查看的内容不在这儿，请尝试使用侧栏的搜索工具。</p>
						    <div class="clear"></div>
			</div>
		</div>
		{% endif %}
	</div>
{% include "sidebar.html" %}
<div class="clear"></div>  
</div>
{% endblock %}