<ol id="thecomments">
		  <li class="comment regularcomment" id="comment-{{comment.key.id}}">  
			  <div class="list"> 
				<table class="out" border="0" cellspacing="0" cellpadding="0">
					<tr>
					<div class="content">
						<cite>
							<div class = "gravatar">
					<img alt='' src='{{comment.gravatar_url}}' class='avatar avatar-32 photo' height='32' width='32' />
					</div>{%if comment.weburl %}
						<a id="comment-{{comment.key.id}}" class="url" target="_blank" href="{{comment.weburl}}">{{comment.author}}</a>
						{% else %}{{comment.author}}{%endif%}
						</cite> 发表于 {{comment.date|datetz:"Y-m-d"}} , {{comment.date|datetz:"H:i"}}
					</div>
					<td class="topleft"></td>
					<td class="top"></td>
					<td class="topright"></td>
					</tr>
					<tr>
					<td class="left">
					</td>
					<td class="conmts">
						<small class = "commentmetadata">
							<div id="quote-{{comment.key.id}}">{{comment.content}}
							</div>
						</small>
					</td><td class="right"></td>
					</tr><tr><td class="bottomleft"></td><td class="bottom"></td><td class="bottomright"></td></tr>
				</table>  
				</div>
				<div class="clear"></div>
			</li>
		</ol>