{% extends "base.html" %}
{% block title %} {{entry.title|escape}} - {{blog.title|escape}} {% endblock %}

{% block head_block %}
{% if entry %}
{%if entry.strtags%}<meta name="Keywords" content="{{entry.strtags|escape}}">{%endif%}
{%if entry.excerpt%}<meta name="Description" content="{{entry.excerpt|safe}}">{%endif%}
{% endif %}
<!-- Change timeZone -->
<script src="/static/js/jquery.form.utf8.js">
</script>
<script type="text/javascript" src="/static/js/jquery.cookie.js">
</script>
{% endblock %}

{% block content %}
  
<!-- content START -->
<div id = "section">
	<div id="content">

	<div id = "RandomShow">
	<script language="JavaScript" type="text/javascript">
tips = new Array(3);
tips[0] = '<img alt="" width="860" height="120" src="/themes/{{ blog.theme_name }}/images/stushow1.jpg" border="0" />';
tips[1] = '<img alt="" width="860" height="120" src="/themes/{{ blog.theme_name }}/images/stushow2.jpg" border="0" />';
tips[2] = '<img alt="" width="860" height="120" src="/themes/{{ blog.theme_name }}/images/stushow3.jpg" border="0" />';

index = Math.floor(Math.random() * tips.length);
document.write(tips[index]);
</script>
	</div>
		<div class="postlist">
			<div id = "section">
			<div class = "archive">
			<span class = "title">
			<h3>{{ entry.title|escape }}</h3>
			</span>
			</div>

			<div id = "article">
			<div id="post-{{entry.key}}">
				<div class="title">
				 <h3>{{ entry.date|datetz:"F jS, Y " }}</h3>
					<h2>
						<a href="/{{ entry.link|escape }}" rel="bookmark" title="永久链接到 {{entry.title|escape}}">{{entry.title|escape}}
						</a>
					</h2>
					<small>
					<a href="/{{entry.link|escape}}#comments">{{entry.commentcount}} 条评论</a>, {%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%}
					<a href="/{{entry.link|escape}}">{{entry.readtimes}} 次阅读</a>.{%if self.is_admin%}<a href="{{entry.edit_url}}">编辑</a> | {%endif%}
					</small>
				</div>
				<div class="entry">
					{{ entry.content_excerpt|safe }}
				</div>
			</div> </div>
	{% include "comments.html" %}
		</div>


{% include "sidebar.html" %}
<div class="clear"></div>  
</div>
{% endblock %}